{{>partials/header}}
<title>Testando Site...</title>

<header>

    <h1>Precisando de ajuda? Contate-nos</h1>

</header>

<section>
    <p>Email: irinel12345@gmail.com</p>
    <p>Telefone: +55 11 23456-7890</p>
</section>
{{>partials/footer}}